<div class='jumbotron' id='landing'>
  <div class='splash-center'>
    <img src='http://res.cloudinary.com/dwhvrflyu/image/upload/v1439775160/grounded_logo_blue_umdzai.png'
         class='brand'>

    <div class='splash'>
      <div class='splash-inner'>
        <!-- <%= link_to "Find a Home", '/#listings', :class => 'btn btn-default btn-lg splash' %>
        <%= link_to "Why Grounded?", '/#slider', :class => 'btn btn-default btn-lg splash' %> -->
        <!-- <%= link_to "Invest in Properties", '/home', :class => 'btn btn-default btn-lg splash' %> -->
        <br>
        <form action='<%=session_url%>' method='post' style='display: inline;'>
          <%= auth_token_input %>
          <input type='hidden' name='user[email]'
                               value='guest@grounded.com'>
          <input type='hidden' name='user[password]'
                               value='password'>
          <input type='submit' class='grounded_button'
                               value='Guest Log In'>
        </form>
        <button type="button" class="grounded_button"
                              data-toggle="modal"
                              data-target="#SignIn">
          Sign In
        </button>
        <button type="button" class="grounded_button"
                              data-toggle="modal"
                              data-target="#SignUp">
          Sign Up
        </button>
      </div>
    </div>
  </div>
</div>
