<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Grounded</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="jquery.serializejson.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>"></script>
  <script src="http://widget.cloudinary.com/global/all.js"
          type='text/javascript'></script>
  <script>cloudinary.setCloudName('dwhvrflyu')</script>

  <% if current_user %>
    <script type='text/javascript'> window.Grounded.cloud_name = "<%= ENV['CLOUD_NAME'] %>" </script>
    <script type='text/javascript'> window.Grounded.upload_preset = "<%= ENV['UPLOAD_PRESET'] %>" </script>
  <% end %>

</head>

<body>

  <div class="modal fade" id="SignUp" tabindex="-1"
                                      role="dialog"
                                      aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <button type="button" class="close"
                                data-dismiss="modal"
                                aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>

        <div class="modal-body">
          <h2>Sign Up</h2>
          <form action="<%= users_url %>" method="post">
            <%= auth_token_input %>

            <label>
              E-mail
              <input type="text" name="user[email]" value="">
            </label>

            <label>
              Password
              <input type="password" name="user[password]" value="">
            </label>
            <div class="modal-footer">
              <button type="button" class="btn btn-default blue"
                                    data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-default blue" value="Sign Up">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="SignIn" tabindex="-1"
                                      role="dialog"
                                      aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal"
                                              aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>

        <div class="modal-body">
          <h2>Sign In</h2>

          <form action="<%= session_url %>" method="post">
            <%= auth_token_input %>

            <label>
              E-mail
              <input type="text" name="user[email]" value="">
            </label>

            <label>
              Password
              <input type="password" name="user[password]" value="">
            </label>
            <div class="modal-footer">
              <button type="button" class="btn btn-default blue"
                                    data-dismiss="modal">Close</button>
              <input type="submit" class="btn btn-default blue" value="Sign In">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


<%= render "layouts/errors" %>

<%= yield %>

</body>

<script>
  $(document).ready(function(){
    <% if current_user %>
      Grounded.CURRENT_USER = {
         "email": "<%= current_user.email %>",
         "id": "<%= current_user.id %>"
       }
    <% end %>

    Grounded.initialize();
  });
</script>
</html>
