<div class="property_address panel-heading">
  <h5 id="street_address">
    <%= property.escape('street_number') + ' ' + property.escape('street')%>
  </h5>
  <h5 id="city_state_zip">
    <%= property.escape('city') + ", " + property.escape('state') + "  " + property.escape('zip') %>
  </h5>
</div>

<div class='panel-body'>
  <div class="progress">
    <div class="progress-bar progress-bar-info" style="width: <%= property.investments().total_confirmed() %>%">
      <span class="sr-only"><%= property.investments().total_confirmed() %>%</span>
    </div>
    <div class="progress-bar progress-bar-success" style="width: <%= property.investments().total_pending() %>%">
      <span class="sr-only"><%= property.investments().total_pending() %></span>
    </div>
  </div>
</div>
