<div class='index-item-box property' id='<%= property.id %>'>
  <div class='row'>
    <div class='col-md-4' style=' overflow: hidden; content: center'>
      <div class='thumb'>
          <% if (property.images().length > 0) {%>
            <img src='<%= property.images().toArray()[0].escape('thumb_url') %>' height=90>
          <% } else {%>
            <img src="http://res.cloudinary.com/dwhvrflyu/image/upload/v1439765104/no_image_na31i5.png" height=90>
          <% } %>
      </div>
    </div>


    <div class='col-md-8'>
      <div class="property_address">
          <p id="street_address">
            <%= property.escape('street_number') + ' ' + property.escape('street')%>
          </p>
          <p id="city_state_zip">
            <%= property.escape('city') + ", " + property.escape('state') + "  " + property.escape('zip') %>
          </p>
      </div>

      <div class="property_details">
        <p id="zestimate">
          Zestimate: $<%= parseInt(property.escape('zestimate')).formatMoney(0) %>
        </p>
        <p id="z-index">
          <% if (property.escape('zindexvalue')) {%>
            Zillow Z-index: $<%= property.escape('zindexvalue') %>
          <% } else { %>
            Zillow Z-index: Not Available
          <% } %>
        </p>
        <p id='area'>
          <%= property.escape('area') %> (<%= property.escape('areatype') %>)
        </p>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-12'>

      <div class="progress">
        <% if (property.get('initial')) {%>
          <div class="progress-bar progress-bar-warning" style="width: 100%">
            <span class="sr-only">Pending</span>
          </div>
        <%} else {%>
          <div class="progress-bar progress-bar-info" style="width: <%= property.investments().total_confirmed() %>%">
            <span class="sr-only"><%= property.investments().total_confirmed() %>%</span>
          </div>
          <div class="progress-bar progress-bar-success" style="width: <%= property.investments().total_pending() %>%">
            <span class="sr-only"><%= property.investments().total_pending() %></span>
          </div>
        <% } %>
      </div>


    </div>
  </div>
</div>
